    
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<%# favicon %>
<link rel="shortcut icon" type="image/png" href="../images/lock-icon.png"/>

<%# style sheets %>
<link rel="stylesheet" href="../css/style.css">
<title>Login App V5</title>