<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>

    <div class="container">
      <h2>Welcome <%= name %>!</h2>
    </div>

    
    <% include ../partials/scriptTags %> 
  </body>
</html>