<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/functions.ejs %>
    <% include ../partials/navbar %>
    <div class="container">
      
      <% if (message.length > 0) { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <h2> <%=message%> </h2>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <%}%>

      <div class='row' id='loginBox'>
        <div class='col-md-6 offset-md-3'>
          <h1 class='text-center'> Log In</h1>
          <hr>
          <form action="/login" method="post">
            <div class='form-group'>
              <input type="text" class='form-control' name="username" placeholder='Username:'/>
            </div>
            <div class='form-group'>
                <input type="password" class='form-control' name="password" placeholder='password'/>
            </div>
            <div class='form-group'>
                <input type="submit" class='form-control btn btn-success' value="Log In"/>
            </div>
            <hr>
            <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#exampleModal">
              Create New Account
            </button>
          </form>
        </div>
      </div>
    </div>

    <% logInfo(message) %>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New Account</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/newUser" method="post">
              <div class='form-group'>
                <input type="text" class='form-control' name="firstname" placeholder='First Name'/>
              </div>
              <div class='form-group'>
                <input type="text" class='form-control' name="lastname" placeholder='Last Name'/>
              </div>
              <div class='form-group'>
                <input type="text" class='form-control' name="newUsername" placeholder='Username'/>
              </div>
              <div class='form-group'>
                  <input type="password" class='form-control' name="newPassword" placeholder='Password'/>
              </div>
              <div class='form-group'>
                  <input type="password" class='form-control' name="confirmPassword" placeholder='Confirm Password'/>
              </div>
              <div class='form-group'>
                  <input type="text" class='form-control' name="email" placeholder='Email:'/>
              </div>
              <div class='form-group'>
                  <input type="submit" class='form-control btn btn-primary' value="Log In"/>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    
    <%# Script Tags%>
    <% include ../partials/scriptTags %> 
  </body>
</html>

