<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../app/public/css/style.css">
    <title>Login App V5</title>
  </head>
  <body>
    <h2>Welcome <%= name %>!</h2>
  </body>
</html>