<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <div class="container">
        <h2>Welcome to the profile page!</h2>
        <h3><%= user.firstname %></h3>
    </div>

    <% include ../partials/scriptTags %>
  </body>
</html>
